<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>

<form method="post" action="/userinfo/login">
    <div>
        <label>姓名：</label>
        <input type="text" name="username" value="{{ username }}">
    </div>
    <div>
        <label>密码：</label>
        <input type="password" name="password" value="{{ password }}">
    </div>
    <div>
        <label for="id_remember">记住密码：</label>
        <input id="id_remember" type="checkbox" name="remember" value="1">
    </div>
    <div>
        <input type="submit" value="登录">
    </div>
</form>

</body>
</html>