<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form表单</title>
</head>
<body>
<form action="/userinfo/test_form" method="post">
    {% csrf_token %}

    {#  #}
    {{ myform.as_p }}

    {#  #}
{#    <ul>#}
{#        {{ myform.as_ul }}#}
{#    </ul>#}
{##}
    {#  #}
{#    <table>#}
{#        {{ myform.as_table }}#}
{#    </table>#}
{##}
    {# 手动解析 #}
{#    {% for f in myform %}#}
{#        <p>{{ f.label }}:::{{ f }}</p>#}
{#    {% endfor %}#}


    <input type="submit" value="注册">
</form>
</body>
</html>