<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加书籍</title>
</head>
<body>
<form method="post" action="/book/add">
    {% csrf_token %}
    <div>
        书名：
        <input type="text" name="title">
    </div>

    <div>
        定价：
        <input type="text" name="price">
    </div>

    <div>
        出版社：
        <input type="text" name="pub">
    </div>

    <div>
        出版日期：
        <input type="text" name="pub_date">
    </div>

    <input type="submit" value="添加新书">
</form>
</body>
</html>